<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="TRACEVerbHandler" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="OPTIONSVerbHandler" />
        </handlers>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <caching>
            <profiles>
                <add extension="*" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
