{% extends "main.html" %}

{% block dt %}
<meta http-equiv="refresh" content="320">

{% endblock %}

{% block content %}
  <div data-role="collapsibleset" data-theme="a" data-content-theme="a"  data-mini="a">   
<!--      <h3 class="ui-btn ui-icon-calendar ui-btn-icon-left">Календарь</h3> -->
    <form action="#" method="POST">
        <div data-role="fieldcontain">
          <input value="" name="date" type="hidden"  size="20" maxlength="10"  data-role="date" data-inline="false"/>
         <!-- <input type="submit" value="Перейти" data-role='button' data-inline="true"  data-mini="true"> -->  
         <input type="submit" value="<" name='prev' data-role='button' data-inline="true"  data-mini="true">
         <input type="submit" value=">" name='next' data-role='button' data-inline="true"  data-mini="true">
        </div> 
     </form>    

</div>




<div data-role="collapsibleset" data-theme="a" data-content-theme="a" class="ui-btn ui-icon-usd "  data-mini="true" > 
<h3>Текущее состояние</h3>

    <div data-role="collapsible" data-theme="a" data-content-theme="a" id="openMe" data-collapsed="false">
            <h3>Остатки (грн)</h3>
            {{ part_1|safe }}
    </div>

<div data-role="collapsible" data-theme="a" data-content-theme="a" >
        <h3>Выпуск (т)</h3>
    {{ part_2|safe }}
</div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a" >
        <h3>Отгружено (грн)</h3>
        {{ part_3|safe}}
    </div>

<div data-role="collapsible" data-theme="a" data-content-theme="a" >
        <h3>Сырье (т)</h3>
    {{ part_4|safe }}
</div>


    <div data-role="collapsible" data-theme="a" data-content-theme="a"  >
        <h3>Дебиторы</h3>
    {{ part_5|safe }}
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a"  >
        <h3>Кредиторы</h3>
    {{ part_6|safe }}
    </div>




</div>

<div data-role="collapsibleset" data-theme="a" data-content-theme="a" class="ui-btn ui-icon-gear"  data-mini="true">
<h3>За год</h3>

    <div data-role="collapsible" data-theme="a" data-content-theme="a"  data-collapsed="false">
        <h3>Приход (грн)</h3>
    {{ part_7|safe }}
    </div>

<div data-role="collapsible" data-theme="a" data-content-theme="a" >
        <h3>Выпуск (т)</h3>
    {{ part_8|safe }}
</div>


    <div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Отгружено (грн)</h3>
    {{ part_9|safe }}
    </div>


<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Сырье (т)</h3>
    {{ part_10|safe }}
</div>
</div>


{{ content | safe }}


{% endblock %}
